body{
  margin: 0;
}

#root{
  display: flex;
  text-align: center;
  background-color: #41B3A2;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




